.specific_modal {
  position: fixed;
  border: 1px solid rgba(255, 0, 0, 0.308);
  background-color: rgba(255, 126, 126, 0.301);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
}

.modal__container {
  padding: 1rem;
  border: 1px solid red;
  position: fixed;
  top: 30%;
  right: 20%;
  left: 20%;
  background-color: #fff;
  border-radius: 10px;
}
